body{
    margin:0;
    min-height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.grid-container{
    display: grid;
    overflow: hidden;
    height: 100%;
    margin: 5%;
    border-radius: 2%;
    border: 2px solid transparent;
    grid-template-columns: 50% 50% ;
    grid-template-rows:20% 60% 20% ;
    background-color: rgb(82 57 145 / 54%);
    grid-column: 2 / span 2;
    grid-row: 2 / span 3;
}

.grid-container div:nth-child(1){
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.grid-container div:nth-child(2){
    width: 100%;
    justify-self: center;
    align-self: center;
    grid-column: 1 / span 2;
    grid-row: 2/ span 1;
}

.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2%;
    margin-bottom: 10%;
    width: 50%;
    align-self: center;
    justify-self: center;
    transition-duration: 0.4s;
    cursor: pointer;
    grid-row: 3 ;
    border-radius: 5%;
}

.button1 {
    background-color: rgba(255, 255, 255, 0.11);
    color: black;
    border: 2px solid #04AA6D;
}

.button1:hover {
    background-color: #04AA6D;
    color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}


p{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}

.wrapper{
    height: 100vh;
    background-image: url("../resources/image.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% auto auto auto;
}

.navbar{
    width: 100%;
    height: auto;
    align-self: start;
    flex-direction: column;
    display: flex;
    background-color: aliceblue;
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.active {
    background-color: #04AA6D;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

img{
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}

form{
    display: flex;
    flex-direction: column;
}

h1{
    color: #ffffff;
    margin: 5%;
}