 body{
    margin:0;
    min-height: 100%;
}

::-webkit-scrollbar {
    display: none;
}


.navbar{
    width: 100%;
    height: auto;
    align-self: start;
    flex-direction: column;
    display: flex;
    background-color: aliceblue;
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.active {
    background-color: #ffcc89;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.grid-container{
    display: flex;
    overflow: hidden;
    height: 100%;
    margin: 5%;
    border-radius: 2%;
    border: 2px solid transparent;
    justify-content: flex-start;
    background-color: rgba(91, 95, 98, 0.0);
    align-items: center;
    grid-column: 1 / span 4;
    grid-row: 2 / span 3;
    flex-direction: column;
    row-gap: 1%;
}

.wrapper{
    height: 100vh;
    background-image: url("../resources/background.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% auto auto auto;
}

.row {
    display: grid;
    height: auto;
    grid-template-columns:20% 20% 20% 20% 20%;
    align-items: center;
    column-gap: 0.2%;
}

img{
    border-radius: 1.5%;
    width: 100%;
    transition: z-index 2s,width 1s;
}

img:hover{
    z-index: 2;
    width: 110%;
}

#btn{
    border: transparent;
    background-color: transparent;
}
p{
    font-weight: bold;
    font-size: 2em;
    grid-column: 1 / span 5;
    font-family: 'ADLaM Display';    color: aliceblue;
    background-image: linear-gradient(to right, #ffcc89, rgba(49, 81, 162, 0.44),#4f5dbf00);
    border-radius: 1%;
}